* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(239, 239, 239);
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


.topNavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 1s;
    color: #b7b7b7;
}

.topNavBar.sticky {
    background: white;
    z-index: 1;
    box-shadow: 0px 9px 21px -1px rgba(0,0,0,0.91);
    color: #3d4451;
    
}


.navBar ul li {
    list-style: none;
    float: left;
    font-size: 14px;    
    margin: 33px 17px;
}

.navBar ul li a {
    color: inherit;
    font-weight: 600;
    border-bottom: 3px solid #e8676b transparent;
    padding-bottom: 4px;
    position: relative;
    transition: all 0.5s;
}

.navBar ul li a:hover::after {
    /* border-bottom: 3px solid #e8676b;
    padding-bottom: 4px; */
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #e8676b;
    height: 4px;
    animation: navSlide 0.5s;
    
}

@keyframes navSlide {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

.rs {
    color: #e8676b;
}

.card {
    margin-left: 3px;
    color:  #9a9da2;
}

.logo {
    float: left;
    font-size: 24px;
    font-weight: 600;
    font-family: "Fredoka One";
    margin: 30px 17px;
}



.navBar {
    float: right;
}

.banner {
    
    height: 515px;
    background-size: cover;
    background-position: center center;
}



.mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}


.userCard {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-top: -345px;
}

.hello {
    background-color: #e8676b;
    padding: 4px 16px;
    display: inline-block;
    line-height: 21px;
    color: white;
    position: relative;
   
}


.trangle {
    width: 0;
    height: 0;
    border: 8px solid #e8676b;
    border-right-color:transparent;
    border-bottom-color:transparent;
    border-top-width: 0px; 
    position: absolute;
    left: 10px;
    top: 100%;
    
}

.photo {
    float: left;
}

.textInfo {
    float: left;
    margin-left: 65px;
    width: 470px;
}

.pictureAndText {
    padding: 50px;
}

.textInfo h1 {
    margin-top: 26px;
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid #dedede;
}

.textInfo hr {
    margin: 20px 0px;
}

.descriptionList dl dt,
.descriptionList dl dd {
    float: left;
    padding: 5px 0;
}

.descriptionList dl dt {
    width: 30%;
    font-weight: bold;
}

.descriptionList dl dd {
    width: 70%;
    color: #9da0a7;
}

.redbar {
    max-width: 940px;
    background-color: #e8676b;
    text-align: center;
}

.redbar svg {
    width: 30px;
    height: 30px;
    fill: #ffffff;
    vertical-align: top;
    padding: 5px 0;
}

.redbar a {
    display: inline-block;
    border-radius: 100%;
    width: 40px;
   line-height: 30px;
   margin: 16px;
}

.redbar a:hover {
    display: inline-block;
    border-radius: 100%;
    width: 40px;
   line-height: 30px;
   background-color: #cf5d5f;
}

.downButton {
    text-align: center;
    margin-top: 40px;
}

.downButton a {
    border: 1px solid rgb(203, 205, 207);
    color: #3d4451;
    font-size: 16px;
    font-weight: 700;
    padding: 18px 55px;
    display: inline-block;
    font-family: "思源黑体";
}

.downButton a:hover {
    box-shadow: 0px 5px 18px -5px rgba(135,135,135,1);
    transition: all 0.3s;
}

.downButton p {
    max-width: 940px;
    margin: 30px auto;
    font-family: "楷体";
    font-size: 20px;
}



.skills h2 {
    color: #3d4451;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    
}

.skills ul {
    padding: 30px 50px;
}

.skills ul li {
    float: left;
    list-style: none;
    width: 50%;
    padding-bottom: 34px;
    box-sizing: border-box;
}

.bartitle {
    margin-bottom: 4px;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.skillBar {
    /* border: 3px solid rgb(250, 225, 225); */
    background-color: rgb(250, 225, 225);
    border-radius: 4px;
  
}

.skillBar .barLength {
    height: 100%;
    width: 50%;
    border: 3px solid #e8676b;
}

.skills li:nth-child(5),
.skills li:nth-child(6){
   padding-bottom: 11px;
}

.allBar {
    max-width: 940px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 2px 4px 15px 0px rgba(125,125,125,1);
}


.skills ul li:nth-child(even) {
    float: right;
    padding-left: 30px;
}

.portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 77px;
    text-align: center;
    margin-bottom: 100px;
}
.portfolio h2 {
    text-align: center;
    margin-bottom: 32px;
}

.portfolio li {
    float: left;
    list-style: none;
    margin-left: 50px;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.portfolio li:first-child{
    margin-left: 0px;
}

.portfolio ul {
    display: inline-block;
    padding-bottom: 13px;
    
} 

.category {
    display: inline-block;
}

.whiteBar {
    height: 5px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
}

.whiteBar .threeRedBar {
    height: 100%;
    background-color: #cf5d5f;
    border-radius: 4px;
    position: absolute;
    transition: all 0.3s;
}

.whiteBar .threeRedBar.state1 {
    width: 18%;
    left: 0;
    top: 0;
}

.whiteBar .threeRedBar.state2 {
    width: 18%;
    left: 74px;
    top: 0;
}

.whiteBar .threeRedBar.state3 {
    width: 31%;
    left: 148px;
    top: 0;
}


.portfolioPhoto {
    margin-top: 30px;
    height: 576px;
    position: relative;
}

.portfolioPhoto .photo1{
    position: absolute;
    top: 0;
    left: 0;
}

.portfolioPhoto .photo2{
    position: absolute;
    top: 0;
    left: 645px;
    
}

.portfolioPhoto .photo3{
    position: absolute;
    top: 298px;
    left: 645px;
}
